{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<p>#}
{#    <a href="/Evoting/changepassword/{{ i.id }}">change password</a><br><br>#}
{#    <a href="/Evoting/View_nominees_nd_verify/">View Nominees and Vierify</a><br><br>#}
{#    <a href="/Evoting/View_voting_Result/">View Voting result</a><br><br>#}
{#    <a href="/Evoting/View_election_nd_status/">update election status</a><br><br>#}
{#    <a href="/Evoting/View_profile/">View profile</a><br><br>#}
{##}
{##}
{#</p>#}
{#</body>#}
{#</html>#}




<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Evoting electioncoordinator Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Freehold Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/static/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="/static/web/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!--FlexSlider-->
		<link rel="stylesheet" href="/static/web/css/flexslider.css" type="text/css" media="screen" />
		<script defer src="/static/web/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->

<!-- font-awesome icons -->
<link rel="stylesheet" href="/static/web/css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Varela+Round&subset=hebrew" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="/static/web/index.html">E-voting</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-13" id="cl-effect-13">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/Evoting/electn_home/">Home</a></li>
{#							<li class="dropdown">#}
{#								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Student<b class="caret"></b></a>#}
{#								<ul class="dropdown-menu agile_short_dropdown">#}
{#									<li><a href="/Evoting/Add_Student/#hello">Add students</a></li>#}
{#									<li><a href="/Evoting/View_students/#hello">View students</a></li>#}
{#                                    <li><a href="/Evoting/Add_course/#hello">Add Course</a> </li>#}
{#                                    <li><a href="/Evoting/View_course/#hello">View Course</a> </li>#}
{#                                    <li><a href="/Evoting/Add_subAdmin/#hello">Add Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/View_subadmin/#hello">View Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/Add_Election/#hello">Add Election</a> </li>#}
{#                                    <li><a href="/Evoting/View_Election/#hello">View Election</a> </li>#}
{#                                    <li><a href="/Evoting/view_Staff/#hello">View Staff</a> </li>#}
{#                                    <li><a href="/Evoting/View_student/#hello">View Student</a> </li>#}
{#                                    <li><a href="/Evoting/view_Result/#hello">View Result</a> </li>#}

{#								</ul>#}
{#							</li>#}
{#                            <li class="dropdown">#}
{#								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Staff<b class="caret"></b></a>#}
{#								<ul class="dropdown-menu agile_short_dropdown">#}
{#									<li><a href="/Evoting/Add_Department/#hello">Add Departement</a></li>#}
{#									<li><a href="/Evoting/View_Department/#hello">View Department</a></li>#}
{#                                    <li><a href="/Evoting/Add_Staff/#hello">Add Staff</a> </li>#}
{#                                    <li><a href="/Evoting/View_staffs/#hello">View Staff</a> </li>#}
{#                                    <li><a href="/Evoting/Add_subAdmin/#hello">Add Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/View_subadmin/#hello">View Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/Add_Election/#hello">Add Election</a> </li>#}
{#                                    <li><a href="/Evoting/View_Election/#hello">View Election</a> </li>#}
{#                                    <li><a href="/Evoting/view_Staff/#hello">View Staff</a> </li>#}
{#                                    <li><a href="/Evoting/View_student/#hello">View Student</a> </li>#}
{#                                    <li><a href="/Evoting/view_Result/#hello">View Result</a> </li>#}
{##}
{#								</ul>#}
{#							</li>#}
{#                            <li class="dropdown">#}
{#								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Admin<b class="caret"></b></a>#}
{#								<ul class="dropdown-menu agile_short_dropdown">#}
{#									<li><a href="/Evoting/Add_Department/#hello">Add Departement</a></li>#}
{#									<li><a href="/Evoting/View_Department/#hello">View Department</a></li>#}
{#                                    <li><a href="/Evoting/Add_course/#hello">Add Course</a> </li>#}
{#                                    <li><a href="/Evoting/View_course/#hello">View Course</a> </li>#}
{#                                    <li><a href="/Evoting/Add_subAdmin/#hello">Add Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/View_subadmin/#hello">View Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/Add_Election/#hello">Add Election</a> </li>#}
{#                                    <li><a href="/Evoting/View_Election/#hello">View Election</a> </li>#}
{#                                    <li><a href="/Evoting/view_Staff/#hello">View Staff</a> </li>#}
{#                                    <li><a href="/Evoting/View_student/#hello">View Student</a> </li>#}
{#                                    <li><a href="/Evoting/view_Result/#hello">View Result</a> </li>#}
{##}
{#								</ul>#}
{#							</li>#}
{#                            <li class="dropdown">#}
{#								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Election<b class="caret"></b></a>#}
{#								<ul class="dropdown-menu agile_short_dropdown">#}
{#									<li><a href="/Evoting/Add_Department/#hello">Add Departement</a></li>#}
{#									<li><a href="/Evoting/View_Department/#hello">View Department</a></li>#}
{#                                    <li><a href="/Evoting/Add_course/#hello">Add Course</a> </li>#}
{#                                    <li><a href="/Evoting/View_course/#hello">View Course</a> </li>#}
{#                                    <li><a href="/Evoting/Add_subAdmin/#hello">Add Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/View_subadmin/#hello">View Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/Add_Election/#hello">Add Election</a> </li>#}
{#                                    <li><a href="/Evoting/View_Election/#hello">View Election</a> </li>#}
{#                                    <li><a href="/Evoting/view_Staff/#hello">View Staff</a> </li>#}
{#                                    <li><a href="/Evoting/View_student/#hello">View Student</a> </li>#}
{#                                    <li><a href="/Evoting/view_Result/#hello">View Result</a> </li>#}
{##}
{#								</ul>#}
{#							</li>#}
{#                             <li class="dropdown">#}
{#								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Others<b class="caret"></b></a>#}
{#								<ul class="dropdown-menu agile_short_dropdown">#}
{#									<li><a href="/Evoting/Add_Department/#hello">Add Departement</a></li>#}
{#									<li><a href="/Evoting/View_Department/#hello">View Department</a></li>#}
{#                                    <li><a href="/Evoting/Add_course/#hello">Add Course</a> </li>#}
{#                                    <li><a href="/Evoting/View_course/#hello">View Course</a> </li>#}
{#                                    <li><a href="/Evoting/Add_subAdmin/#hello">Add Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/View_subadmin/#hello">View Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/Add_Election/#hello">Add Election</a> </li>#}
{#                                    <li><a href="/Evoting/View_Election/#hello">View Election</a> </li>#}
{#                                    <li><a href="/Evoting/view_Staff/#hello">View Staff</a> </li>#}
{#                                    <li><a href="/Evoting/View_election/#hello">Election</a> </li>#}
{#                                    <li><a href="/Evoting/View_results/#hello">Result</a> </li>#}
{#                                    <li><a href="/Evoting/View_Electioncoordinator/#hello">Election Coordinators</a></li>#}
{#                                    <li><a href="/Evoting/View_Nominees/#hello">Nominees</a></li>#}
{#							        <li><a href="/Evoting/changepassword/#hello"{{ i.id }}>Change Password</a></li>#}
{##}
{#								</ul>#}
{#							</li>#}

                            <li><a href="/Evoting/View_nominees_nd_verify/#hello">Verify Nominees</a></li>
                            <li><a href="/Evoting/View_voting_Result/#hello">Result</a> </li>
                            <li><a href="/Evoting/View_election_nd_status/#hello">Election Status</a> </li>
                            <li><a href="/Evoting/View_profile_cord/#hello">Profile</a> </li>
                             <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Others<b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
{#									 <li><a href="/Evoting/changepasswordelecoord/#hello"{{ i.id }}>Change Password</a></li>
							<li><a href="/Evoting/Logout/">Logout</a></li>
{#                                    <li><a href="/Evoting/Add_course/#hello">Add Course</a> </li>#}
{#                                    <li><a href="/Evoting/View_course/#hello">View Course</a> </li>#}
{#                                    <li><a href="/Evoting/Add_subAdmin/#hello">Add Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/View_subadmin/#hello">View Subadmin</a> </li>#}
{#                                    <li><a href="/Evoting/Add_Election/#hello">Add Election</a> </li>#}
{#                                    <li><a href="/Evoting/View_Election/#hello">View Election</a> </li>#}
{#                                    <li><a href="/Evoting/view_Staff/#hello">View Staff</a> </li>#}
{#                                    <li><a href="/Evoting/View_election/#hello">Election</a> </li>#}
{#                                    <li><a href="/Evoting/View_results/#hello">Result</a> </li>#}
{#                                    <li><a href="/Evoting/View_Electioncoordinator/#hello">Election Coordinators</a></li>#}
{#                                    <li><a href="/Evoting/View_Nominees/#hello">Nominees</a></li>#}
{#							        <li><a href="/Evoting/changepassword/#hello"{{ i.id }}>Change Password</a></li>#}
{##}
								</ul>
							</li>
						</ul>

					</nav>
				</div>
			</nav>
			<div class="agileits_w3layouts_banner_info">
				<div class="col-md-8 w3-agileits-bann">
					<h2>Keith Ellison</h2>
					<p>"Not voting is not a protest. It is a surrender."</p>
				</div>
				<div class="col-md-4 w3-agile-bann">
{#					<ul>#}
{#						<li><i class="fa fa-university" aria-hidden="true"></i>Proin dolor tellus, vitae</li>#}
{#						<li><i class="fa fa-users" aria-hidden="true"></i>Curabitur diam lorem, ultricies</li>#}
{#						<li><i class="fa fa-cog" aria-hidden="true"></i>molestie maximus ultrices</li>#}
{#						<li><i class="fa fa-external-link" aria-hidden="true"></i>elementum sodales urna</li>#}
{#						<li><i class="fa fa-area-chart" aria-hidden="true"></i>rhoncus in mattis pretium</li>#}
{#					</ul>#}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- agileinfo -->
<div class="agileinfo-services">
		<div class="container">
			<h3 class="w3l_head w3l_head1">We Make Voting Real Simple</h3>
			<p class="w3ls-p">You’ve got to vote, vote, vote, vote. That’s it; that’s the way we move forward..</p>
			<div class="w3_agileits_services_grids">
				<div class="col-md-4 w3_agileits_services_grid">
					<div class="w3_agileits_services_grid_agile">
						<div class="w3_agileits_services_grid_1">
							<i class="fa fa-question-circle" aria-hidden="true"></i>
						</div>
						<h3>Simple</h3>
						<p>If you don’t vote, you don’t count.”- Nancy Pelosi </p>
					</div>
				</div>
				<div class="col-md-4 w3_agileits_services_grid">
					<div class="w3_agileits_services_grid_agile">
						<div class="w3_agileits_services_grid_1">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<h3>Powerfull</h3>
						<p>“The ballot is stronger than the bullet.”- Abraham Lincoln</p>
					</div>
				</div>
				<div class="col-md-4 w3_agileits_services_grid">
					<div class="w3_agileits_services_grid_agile">
						<div class="w3_agileits_services_grid_1">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
						<h3>Unique</h3>
						<p>“Somewhere inside of all of us is the power to change the world.”- Roald Dahl
</p>
					</div>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //agileinfo -->

<!-- services-bottom -->
<div class="services-bottom">
		<div class="col-md-6 agile_services_bottom_grid_left">
			<h3><span>Evoting</span> Privacy,Protection,Safety,Security</h3>
{#			<p class="eum">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam#}
{#				nihil molestiae consequatur.</p>#}
			<div class="agile_services_bottom_grid_left_grids">
				<div class="col-md-6 agile_services_bottom_grid_left_grid">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					<a href="#">Privacy</a>
					<p>We provide you Privacy</p>
				</div>
				<div class="col-md-6 agile_services_bottom_grid_left_grid">
					<span class="glyphicon glyphicon-move" aria-hidden="true"></span>
					<a href="#">Protection</a>
					<p>We provide you protection</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agile_services_bottom_grid_left_grids">
				<div class="col-md-6 agile_services_bottom_grid_left_grid">
					<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
					<a href="#">Safety</a>
					<p>We provide you Safety</p>
				</div>
				<div class="col-md-6 agile_services_bottom_grid_left_grid">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<a href="#">Security</a>
					<p>We provide you Security</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="col-md-6 agile_services_bottom_grid_right">
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //services-bottom -->
	<!-- flexslider -->
{#	<div class="w3-agile-btm">#}
{#	<div class="container">#}
{#	<div class="flexslider-info">#}
{#					<section class="slider">#}
{#						<div class="flexslider">#}
{#							<ul class="slides">#}
{#								<li>#}
{#									<div class="banner-info">#}
{#										<div class="col-md-7 agileinfo-left">#}
{#											<img src="/static/web/images/10.jpg" alt="">#}
{#										</div>#}
{#										<div class="col-md-5 agileinfo-grid grid-one">#}
{#											<h4>Temporibus autem</h4>#}
{#											<p>Libero tempore, cum soluta nobis est eligendi#}
{#											optio cumque nihil impedit quo minus id quod maxime#}
{#											placeat facere possimus  ut#}
{#											et voluptates repudiandae sint et molestiae non recusandae</p>#}
{##}
{#										</div>#}
{#										<div class="clearfix"></div>#}
{#									</div>#}
{#								</li>#}
{#								<li>#}
{#									<div class="banner-info">#}
{#										<div class="col-md-7 agileinfo-left">#}
{#											<img src="/static/web/images/11.jpg" alt="">#}
{#										</div>#}
{#										<div class="col-md-5 agileinfo-grid grid-one">#}
{#											<h4>Temporibus autem</h4>#}
{#											<p>Libero tempore, cum soluta nobis est eligendi#}
{#											optio cumque nihil impedit quo minus id quod maxime#}
{#											placeat facere possimus  ut#}
{#											et voluptates repudiandae sint et molestiae non recusandae</p>#}
{##}
{#										</div>#}
{#										<div class="clearfix"></div>#}
{#									</div>#}
{#								</li>#}
{#								<li>#}
{#									<div class="banner-info">#}
{#										<div class="col-md-7 agileinfo-left">#}
{#											<img src="/static/web/images/12.jpg" alt="">#}
{#										</div>#}
{#										<div class="col-md-5 agileinfo-grid grid-one">#}
{#											<h4>Temporibus autem</h4>#}
{#											<p>Libero tempore, cum soluta nobis est eligendi#}
{#											optio cumque nihil impedit quo minus id quod maxime#}
{#											placeat facere possimus  ut#}
{#											et voluptates repudiandae sint et molestiae non recusandae</p>#}
{##}
{#										</div>#}
{#										<div class="clearfix"></div>#}
									</div>
								</li>
							</ul>
						</div>
					</section>
				</div>
		</div>
</div>
<div id="hello">
{% block body %}
<div class="card">

</div>
{% endblock %}
</div>
<!-- //flexslider -->
{#<div class="agileinfo-work-top">#}
{#		<div class="container">#}
{#			<div class="w3-agileits-rides-heading">#}
{#				<h3 class="w3l_head w3l_head1">Our Recent Works</h3>#}
{#			</div>#}
{##}
{#			<div class="agileits-w3layouts-rides-grids">#}
{#				<div class="col-sm-4 rides-grid">#}
{#					<div class="agileinfo-work">#}
{#						<img src="/static/web/images/7.jpg" class="img-responsive" alt="">#}
{#						<h4>Nullam tristique</h4>#}
{#						<p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>#}
{#						<ul>#}
{#							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Nullam tristique faucibus pharetra.</a></li>#}
{#							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Pellentesque auctor</a></li>#}
{#						</ul>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-sm-4 rides-grid">#}
{#					<div class="agileinfo-work">#}
{#						<img src="/static/web/images/8.jpg" class="img-responsive" alt="">#}
{#						<h4>Euismod lectus </h4>#}
{#						<p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus .</p>#}
{#						<ul>#}
{#							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Nullam tristique faucibus pharetra.</a></li>#}
{#							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Pellentesque auctor</a></li>#}
{#						</ul>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-sm-4 rides-grid">#}
{#					<div class="agileinfo-work">#}
{#						<img src="/static/web/images/6.jpg" class="img-responsive" alt="">#}
{#						<h4>Curabitur non </h4>#}
{#						<p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus .</p>#}
{#						<ul>#}
{#							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Nullam tristique faucibus pharetra.</a></li>#}
{#							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="#">Pellentesque auctor</a></li>#}
{#						</ul>#}
{#					</div>#}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
<!-- footer -->
	<div class="footer-top">
		<div class="container">
			<div class="col-md-3 w3ls-footer-top">
				<h3>QUICK LINKS</h3>
					<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Student</a></li>
							<li><a href="#">Staff</a></li>
							<li><a href="#">profile</a></li>
							<li><a href="#">Others</a></li>
						</ul>
			</div>
			<div class="col-md-4 wthree-footer-top">
				<h3>SUPPORT</h3>
					<ul>
					<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 7th Street, Melbourne City, Australia.</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (4584) 5689 0254 128</li>
				</ul>
			</div>

{#			<div class="col-md-5 w3l-footer-top">#}
{#				<h3>NEWSLETTER</h3>#}
{#				<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit reprehenderit qui in ea.</p>#}
{##}
{#					<form action="#" method="post" class="newsletter">#}
{#						<input class="email" type="email" placeholder="Your email..." required="">#}
{#						<input type="submit" class="submit"  value="">#}
{#					</form>#}
{#			</div>#}
				<div class="clearfix"></div>
			<div class="footer-w3layouts">
				<div class="agile-copy">
					<p>© 2023 Evoting. All rights reserved | Design by <a href="#">Evoting</a></p>
				</div>
				<div class="agileits-social">
					<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
				</div>
					<div class="clearfix"></div>
			</div>
		</div>
	</div>

<!-- //footer -->
<!-- for bootstrap working -->
	<script src="/static/web/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
