{% extends 'SubadminHome.html' %}
{% block body %}
<body>
<form action="/Evoting/searchelecoode_post/"method="post">
    {% csrf_token %}
    <table class=""align="center"width="60%">
        <tr>
            <td><input type="text" name="s1"class="form-control"required></td>
            <td><input type="submit"class="btn btn-warning" value="Search"></td>
        </tr>
    </table>
</form>
<br>
<table border="1"align="center"class="table table-bordered">
    <tr style="background-color: #b06010">
        <th>Sl.no</th>
        <th>Election Name</th>
        <th>Election Declared Date</th>
        <th>Election Coordinator</th>
    </tr>
    {% for i in data %}
    <tr>
    <td>{{ forloop.counter }}</td>
        <td>{{ i.ELECTION.electionname }}</td>
        <td>{{ i.ELECTION.electiondeclareddate }}</td>
        <td>{{ i.STAFF.staffname}}</td>
{#        <td><a href="edit">Edit</a> </td>#}
{#        <td><a href="delete">Delete</a> </td>#}
{#        <td><a href="assignelectioncoordinator">AssignElectionCoordinator</a> </td>#}
    </tr>
    {% endfor %}
</table>
</body>
{% endblock %}